* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

:root {
    --bg-general: #f6f8fc;
    --bg-card: hsl(0, 0%, 100%);
    --bg-card-hover: hsl(0, 0%, 80%);

    --bg-normal-1: hsl(208, 8%, 80%);
    --bg-fighting-2: hsl(342, 59%, 73%);
    --bg-flying-3: hsl(342, 59%, 73%);
    --bg-poison-4: hsl(281, 46%, 80%);
    --bg-ground-5: hsl(21, 66%, 76%);
    --bg-rock-6: hsl(45, 33%, 86%);
    --bg-bug-7: hsl(80, 61%, 67%);
    --bg-ghost-8: hsl(225, 36%, 70%);
    --bg-steel-9: hsl(197, 29%, 69%);
    --bg-fire-10: hsl(25, 100%, 87%);
    --bg-water-11: hsl(211, 62%, 78%);
    --bg-grass-12: hsl(114, 42%, 75%);
    --bg-electric-13: hsl(49, 89%, 80%);
    --bg-psychic-14: hsl(356, 93%, 91%);
    --bg-ice-15: hsl(171, 48%, 83%);
    --bg-dragon-16: hsl(208, 89%, 60%);
    --bg-dark-17: hsl(261, 9%, 56%);
    --bg-fairy-18: hsl(304, 71%, 94%);

    --normal-1: hsl(208, 8%, 60%);
    --fighting-2: hsl(342, 59%, 53%);
    --flying-3: hsl(220, 54%, 72%);
    --poison-4: hsl(281, 46%, 60%);
    --ground-5: hsl(21, 66%, 56%);
    --rock-6: hsl(45, 33%, 66%);
    --bug-7: hsl(80, 61%, 47%);
    --ghost-8: hsl(225, 36%, 50%);
    --steel-9: hsl(197, 29%, 49%);
    --fire-10: hsl(25, 100%, 67%);
    --water-11: hsl(211, 62%, 58%);
    --grass-12: hsl(114, 42%, 55%);
    --electric-13: hsl(49, 89%, 60%);
    --psychic-14: hsl(356, 93%, 71%);
    --ice-15: hsl(171, 48%, 63%);
    --dragon-16: hsl(208, 89%, 40%);
    --dark-17: hsl(261, 9%, 36%);
    --fairy-18: hsl(304, 71%, 74%);
}

body {
    background-color: var(--bg-general);
}

.flex_row,
#mainCards,
.mainCards {
    width: min(90%, 1440px);
}

.mainCards,
#mainCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(156px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem auto;
}

.d_none {
    display: none;
}

.btn-main-container {
    width: min(45%, 192px)
}

.btn-main {
    background-color: var(--bg-card);
    height: 100%;
    width: 100%;
    clip-path: polygon(3% 0%, 100% 0%, 100% 50%, 97% 100%, 0 100%, 0 50%);
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 1.5rem;
}

.btn-main:hover {
    background-color: var(--bg-card-hover);
}

.btn-main[disabled]{
    background-color: var(--bg-general);
    cursor: auto;
}


/* CARDS */

.container {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}

.mainCard {
    height: 312px;
    background-color: var(--bg-card);
    text-align: center;
    clip-path: polygon(7% 40%, 100% 40%, 100% 90%, 93% 100%, 0 100%, 0 50%);
}

.container:hover {
    cursor: pointer;
}

.container:hover>.pokeImg {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6));
}

.container:hover>.mainCard[data-bg="normal-1"] {
    background-color: var(--bg-normal-1);
}

.container:hover>.mainCard[data-bg="fighting-2"] {
    background-color: var(--bg-fighting-2);
}

.container:hover>.mainCard[data-bg="flying-3"] {
    background-color: var(--bg-flying-3);
}

.container:hover>.mainCard[data-bg="poison-4"] {
    background-color: var(--bg-poison-4);
}

.container:hover>.mainCard[data-bg="ground-5"] {
    background-color: var(--bg-ground-5);
}

.container:hover>.mainCard[data-bg="rock-6"] {
    background-color: var(--bg-rock-6);
}

.container:hover>.mainCard[data-bg="bug-7"] {
    background-color: var(--bg-bug-7);
}

.container:hover>.mainCard[data-bg="ghost-8"] {
    background-color: var(--bg-ghost-8);
}

.container:hover>.mainCard[data-bg="steel-9"] {
    background-color: var(--bg-steel-9);
}

.container:hover>.mainCard[data-bg="fire-10"] {
    background-color: var(--bg-fire-10);
}

.container:hover>.mainCard[data-bg="water-11"] {
    background-color: var(--bg-water-11);
}

.container:hover>.mainCard[data-bg="grass-12"] {
    background-color: var(--bg-grass-12);
}

.container:hover>.mainCard[data-bg="electric-13"] {
    background-color: var(--bg-electric-13);
}

.container:hover>.mainCard[data-bg="psychic-14"] {
    background-color: var(--bg-psychic-14);
}

.container:hover>.mainCard[data-bg="ice-15"] {
    background-color: var(--bg-ice-15);
}

.container:hover>.mainCard[data-bg="dragon-16"] {
    background-color: var(--bg-dragon-16);
}

.container:hover>.mainCard[data-bg="dark-17"] {
    background-color: var(--bg-dark-17);
}

.container:hover>.mainCard[data-bg="fairy-18"] {
    background-color: var(--bg-fairy-18);
}

.pokeImg {
    height: 156px;
    position: absolute;
    left: 50%;
    translate: -50%;
    z-index: 1;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}

.mainCard h3 {
    font-weight: 400;
    margin-top: 164px;
}

.mainCard p,
.mainCard h2 {
    margin-bottom: 16px;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.pokeType {
    display: inline-block;
    height: 1.5rem;
    object-fit: contain;
    margin-inline: 4px;
    clip-path: polygon(3% 0%, 100% 0%, 100% 50%, 97% 100%, 0 100%, 0 50%);
}



/* LOADING SPINNER */

.loading-Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loading-Spinner.d_none {
    display: none;
}

.loading-Spinner img {
    height: 100px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* DIALOG */


.dialog {
    /* closed */
    z-index: 2;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 1440px);
    border: none;
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    clip-path: polygon(10% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}

.dialog .mainCard {
    height: 80vh;
    text-align: center;
    clip-path: unset;
    background: url(./assets/img/pokeball_black.svg) center 16% / 60% no-repeat;
    /* animation: spin 1s infinite linear; */
}

.dialog::backdrop {
    opacity: 0;
    background-color: rgba(51, 51, 51, 0.1);
}

.dialog.opened {
    opacity: 1;

}

.dialog.opened::backdrop {
    opacity: 1;
    background-color: rgba(51, 51, 51, 0.95);
    transition: all 0.3s ease-in-out;
}

.pokeTypeModal {
    height: 2rem;
}

.mainCard table {
    width: 90%;
    border-spacing: 12px;
    margin: auto;
    text-align: center;
}

.mainCard td {
    background-color: var(--bg-card-hover);
    line-height: 2rem;
    clip-path: polygon(9% 0%, 100% 0%, 100% 50%, 91% 100%, 0 100%, 0 50%);
}

.mainCard td.clipOther {
    clip-path: polygon(3% 0%, 100% 0%, 100% 50%, 97% 100%, 0 100%, 0 50%);
}

.no-bg {
    background-color: rgba(255,255,255,0) !important;
}

footer {
    height: 80px;
    background-color: var(--bg-card-hover);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}