@media (min-height: 1192px) {
    .dialog {
        min-height: 70vh;
    }
}

@media (min-width: 685px) {
    .dialog {
        padding-top: 10vh;
    }
}
@media (min-width: 601px) {
    .pokeImg.larger {
        height: 184px;
    }

    .evo-img {
        width: 120px;
    }
    .loading-Spinner {
    gap: 0;
    }

}

@media (max-width: 600px) {
    .dialog {
        top: 5%;
        left: 0;
        transform: unset;
        width: min(100%, 1440px);
        min-width: 100%;
        min-height: 90vh;
    }
}

@media (max-width: 450px) {
    .container>.mainCard[data-bg="normal-1"] {
        background-color: var(--bg-normal-1);
    }

    .container>.mainCard[data-bg="fighting-2"] {
        background-color: var(--bg-fighting-2);
    }

    .container>.mainCard[data-bg="flying-3"] {
        background-color: var(--bg-flying-3);
    }

    .container>.mainCard[data-bg="poison-4"] {
        background-color: var(--bg-poison-4);
    }

    .container>.mainCard[data-bg="ground-5"] {
        background-color: var(--bg-ground-5);
    }

    .container>.mainCard[data-bg="rock-6"] {
        background-color: var(--bg-rock-6);
    }

    .container>.mainCard[data-bg="bug-7"] {
        background-color: var(--bg-bug-7);
    }

    .container>.mainCard[data-bg="ghost-8"] {
        background-color: var(--bg-ghost-8);
    }

    .container>.mainCard[data-bg="steel-9"] {
        background-color: var(--bg-steel-9);
    }

    .container>.mainCard[data-bg="fire-10"] {
        background-color: var(--bg-fire-10);
    }

    .container>.mainCard[data-bg="water-11"] {
        background-color: var(--bg-water-11);
    }

    .container>.mainCard[data-bg="grass-12"] {
        background-color: var(--bg-grass-12);
    }

    .container>.mainCard[data-bg="electric-13"] {
        background-color: var(--bg-electric-13);
    }

    .container>.mainCard[data-bg="psychic-14"] {
        background-color: var(--bg-psychic-14);
    }

    .container>.mainCard[data-bg="ice-15"] {
        background-color: var(--bg-ice-15);
    }

    .container>.mainCard[data-bg="dragon-16"] {
        background-color: var(--bg-dragon-16);
    }

    .container>.mainCard[data-bg="dark-17"] {
        background-color: var(--bg-dark-17);
    }

    .container>.mainCard[data-bg="fairy-18"] {
        background-color: var(--bg-fairy-18);
    }

    .search {
        padding: 0 0.5rem;
    }
}

@media (max-width: 350px) {
    .social-name {
        display: none;
    }
}